<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>OpenChainCertification</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CertificationServlet</display-name>
    <servlet-name>CertificationServlet</servlet-name>
    <servlet-class>org.openchain.certification.CertificationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CertificationServlet</servlet-name>
    <url-pattern>/CertificationServlet</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>openchaindb_dbname</param-name>
    <param-value>openchain</param-value>
  </context-param>
  <context-param>
    <param-name>openchaindb_user</param-name>
    <param-value>openchain</param-value>
  </context-param>
  <context-param>
    <param-name>openchaindb_password</param-name>
    <param-value>openchain</param-value>
  </context-param>
  <context-param>
    <param-name>openchaindb_server</param-name>
    <param-value>localhost</param-value>
  </context-param>
  <context-param>
    <param-name>openchaindb_port</param-name>
    <param-value>5432</param-value>
  </context-param>
  <context-param>
      <param-name>return_email</param-name>
      <param-value>no-reply@conformance.openchainproject.org</param-value>
  </context-param>
  <context-param>
      <param-name>email_ses_region</param-name>
      <param-value>us-west-2</param-value>
  </context-param>
  <context-param>
      <param-name>notification_email</param-name>
      <param-value>openchain-conformance@lists.linuxfoundation.org</param-value>
  </context-param>
  <filter>
 <filter-name>ExpiresFilter</filter-name>
 <filter-class>org.apache.catalina.filters.ExpiresFilter</filter-class>
 <init-param>
    <param-name>ExpiresByType image</param-name>
    <param-value>access plus 2 weeks</param-value>
 </init-param>
 <init-param>
    <param-name>ExpiresByType text/css</param-name>
    <param-value>access plus 6 hours</param-value>
 </init-param>
 <init-param>
    <param-name>ExpiresByType application/javascript</param-name>
    <param-value>access plus 6 hours</param-value>
 </init-param>
 <init-param>
 <param-name>ExpiresByType text/html</param-name>
    <param-value>access plus 6 hours</param-value>
 </init-param>
</filter>
<filter-mapping>
 <filter-name>ExpiresFilter</filter-name>
 <url-pattern>/*</url-pattern>
 <dispatcher>REQUEST</dispatcher>
</filter-mapping>
</web-app>