h1, h2, h3, h4, h5 {
	margin: 6px 6px 6px 6px;
	    color: #58595b;
	}
body {
	margin: 6px;
}
a {
	color: #888;
}
a:visited {
    color: #27CFC3;
}
/* Dialog css */
label, input { 
	display:block; 
}
input.text { 
	margin-bottom:12px; 
	width:95%; 
	padding: .4em; 
}
fieldset { 
	padding:0; 
	border:0; 
	margin-top:25px; 
}
.ui-dialog .ui-state-error { 
	padding: .3em; 
}
.validateTips { 
	border: 1px solid transparent; 
	padding: 0.3em; 
}

.formbutton {
	padding: .5em;
}
.fileinput {
	
}
.loading {
	
}
/* table css */
td, th {
	padding 2px 0 0 2px;
}
.questiontable {
    
}

table tr:nth-child(even) {
	 background: #CCC

}
table tr:nth-child(odd) {
	background: #FFF
}
.questiontable td {

}
.number_col {
	text-align:center;
}

.question_col {
}
.answer_col {
	text-align:center;
}
.question_cell {
    float: left;
    clear: none;
    width: 60px;
}
.number_cell {
    text-align:center;
}
.question_cell label {
	float: left;
    clear: none;
    display: block;
    padding: 2px 1em 1px 5px;
}
.question_cell input[type=radio],
input.radio {
    float: left;
    clear: none;
    margin: 8px 0 0 2px;
}

.admin-table {
	border: 1px solid black;
	margin: 12px 6px 6px 6px;
	padding: 2px 0 0 6px;
}

.username_col {
	padding: 2px 0 0 2px;
}
.submitted_col {
	text-align:center;
}
.approved_col {
    text-align:center;
}
.rejected_col {
    text-align:center;
}
.completed_col {
	text-align:center;
}

.score_col {
    text-align:center;
}

.cb-col {
	text-align:center;
}

.status-cb {
    text-align:center;
    margin: 2px 2px 2px 2px;
    padding: 2px 2px 2px 2px;
}

/* Navbar */
.navbar {
	display: inline-block;
	background-color: white;
	width: 100%;
    padding: 1px;
    overflow: auto;
}

.navbar button {
    padding: 3px !important;
}
 
.navbar ul li {
	background: none;
	display: inline-block;
	list-style: none;
}

#usermenu {
	width: 120px;
}
#user-dropdown_container {
	width: 120px;
}
#user-dropdown_launcher {
	display: inline-block;
}
#user-dropdown_menu {
	position: absolute;
	margin-top: 3px !important;
}
.navlink {
	font-size: 14px;
	padding: 3px;
}
.admin-buttons {
	padding:3px;
	margin:auto; 
	width: 50%;
}
.tablebullet {
    padding-left:3em
}

/* admin page */
#manage-survey {
	padding:3px;
    margin:auto; 
    width: 50%;
}
/* admin page inputs */
.fileupload {
	display: inline;
	padding: .4em;
}
.specversion {
	display: inline;
	margin-bottom: 12px;
	padding: .4em;
}
.section-text-group {
	border:1px solid grey;
	padding: .4em;
}
.sectionname {
    display: inline;
    margin-bottom: 12px;
    padding: .4em;
    width: 300px;
}
.sectiontitle {
    display: inline;
    margin-bottom: 12px;
    padding: .4em;
    width: 400px;
}
.inline-label {
	display: inline;
}
