h1, h2, h3, h4, h5 {
	margin: 6px 6px 6px 6px;
	    color: #58595b;
	}
body {
	margin: 6px;
}
a {
	color: #888;
}
a:visited {
    color: #27CFC3;
}
/* Dialog css */
label, input { 
	display:block; 
}
input.text { 
	margin-bottom:12px; 
	width:95%; 
	padding: .4em; 
	border: none;
    border-bottom: 2px solid #b7b7b7;
    background: none;
}
fieldset { 
	padding:0; 
	border:0; 
	margin-top:25px; 
}
.logo { 
	content: url("https://www.openchainproject.org/wp-content/uploads/2016/09/logo_openchain.png");
}
.ui-dialog .ui-state-error { 
	padding: .3em; 
}
.validateTips { 
	border: 1px solid transparent; 
	padding: 0.3em; 
}

.formbutton {
	padding: .5em;
}
.fileinput {
	
}
.loading {
	
}

 #footer-outer {
    color: #ccc;
    position: relative; 
    z-index: 10;
    background-color: #000;
    margin: 20px 0px;
} 



#footer-outer #copyright {
    padding: 10px 5px;
    font-size: 14px;
    color: #777;
}

/* table css */
td, th {
	padding 2px 0 0 2px;
}
.questiontable {
    
}

table tr:nth-child(even) {
	 background: #f9f9f9;

}
table tr:nth-child(odd) {
	background: #FFF
}
.questiontable td {

}
.number_col {
	text-align:center;
}

.question_col {
}
.answer_col {
	text-align:center;
}
.question_cell {
    float: left;
    clear: none;
    width: 60px;
}
.answer_cell label, input {
    display:inline
}

.number_cell {
    text-align:center;
}
/*.answer_cell {
    text-align: end;
}*/
.yesno-switch {
    font-family: sans-serif;
    font-size: 12px;
    width: 17em;
    height: 2em;
    text-align: center;
    background: #cdcde5;
    transition: all 0.2s ease;
    border-radius: 10px;
}
.answer_cell input[type=radio] {
    display: none;
}
.yesno-switch label {
    cursor: pointer;
    color: rgba(0,0,0,0.2);
    width: 3em;
    padding: .3em;
    line-height: 1.5em;
    transition: all 0.2s ease;
}

.choice-yes:checked ~ .yesno-switch {
    background: #00bc9c;
}

.choice-no:checked ~ .yesno-switch {
    background: #eb4f37;
}

.yesno-switch span:after {
    color: #fff;
    content: "|";
}

.choice-yes:checked ~ .yesno-switch span:after {
    color: #fff;
    content: "\2714";
    /* that's a check mark */
}

.choice-no:checked ~ .yesno-switch span:after {
    content: "\2718";
    /* that's an x mark */
}

.choice-yes:checked ~ .yesno-switch label:first-child {
    color: #fff;
}

.choice-no:checked ~ .yesno-switch label:last-child{
    color: #fff;
}

.yesnona-switch label {
    cursor: pointer;
    color: rgba(0,0,0,0.2);
    width: 3em;
    padding: .3em;
    line-height: 1.5em;
    transition: all 0.2s ease;
}

.choicena-yes:checked ~ .yesnona-switch {
    background: #00bc9c;
}

.choicena-no:checked ~ .yesnona-switch {
    background: #eb4f37;
}

.yesnona-switch span:after {
    color: #fff;
    content: "|";
}

.choicena-yes:checked ~ .yesnona-switch span:after {
    color: #fff;
    content: "\2714";
    /* that's a check mark */
}

.choicena-no:checked ~ .yesnona-switch span:after {
    color: #fff;
    content: "\2718";
    /* that's an x mark */
}

.choicena-yes:checked ~ .yesnona-switch label:first-child {
    color: #fff;
}

.choicena-no:checked ~ .yesnona-switch label:last-child{
    color: #fff;
}

#CertFormButtons {
	text-align:center;
	padding: 2px 0 0 6px;
}

.admin-table {
	border: 1px solid black;
	margin: 12px 6px 6px 6px;
	padding: 2px 0 0 6px;
}

.username_col {
	padding: 2px 0 0 2px;
}
.submitted_col {
	text-align:center;
}
.approved_col {
    text-align:center;
}
.rejected_col {
    text-align:center;
}
.completed_col {
	text-align:center;
}

.score_col {
    text-align:center;
}

.cb-col {
	text-align:center;
}

.status-cb {
    text-align:center;
    margin: 2px 2px 2px 2px;
    padding: 2px 2px 2px 2px;
    width:15px;
}

/* Navbar */
.navbar {
	display: inline-block;
	background-color: #222;
	width: 100%;
	padding: 1px;}

.navbar button {
    padding: 3px !important;
}
 
.navbar ul li {
	background: none;
	display: inline-block;
	list-style: none;
	font-weight: bold;
}

#usermenu {
	width: 120px;
}
#user-dropdown_container {
	width: 120px;
}
#user-dropdown_launcher {
	display: inline-block;cursor: pointer;
    padding-top: 6px;
}
#user-dropdown_menu {
	margin-top: 7px !important;
}
#user-dropdown_menu > li {
	display:inline;
} 
.navlink {
	font-size: 14px;
	padding: 3px;
}
.admin-buttons {
	padding:3px;
	margin:auto; 
	width: 50%;
}
.tablebullet {
    padding-left:3em !important;
    padding-top: 20px !important;
    
}

/* admin page */
#manage-survey {
	padding:3px;
    margin:auto; 
    width: 50%;
}
/* admin page inputs */
.fileupload {
	display: inline;
	padding: .4em;
}
.specversion {
	display: inline;
	margin-bottom: 12px;
	padding: .4em;
}
.section-text-group {
	border:1px solid grey;
	padding: .4em;
}
.sectionname {
    display: inline;
    margin-bottom: 12px;
    padding: .4em;
    width: 300px;
}
.sectiontitle {
    display: inline;
    margin-bottom: 12px;
    padding: .4em;
    width: 400px;
}
.inline-label {
	display: inline;
}

#signup table tr {
	background: #ffffff;
	padding: .4em;
}

.reset-password {
	font-size: 11px;
}



.cert-table {
	border: 1px solid black;
    margin: 12px 6px 6px 6px;
    padding: 2px 0 0 6px;
    width: auto;
}

.cert-table-cell {
	border: 1px solid #ddd;
    margin: 12px 6px 6px 6px;
    padding: 2px 2px 2px 6px;
    width: auto;
}

#selectversion table {
	width: 100%;
}

